<h1>Push Notifications</h1>

<p>
  We are passionate about creating engaging and customized experiences for everyoune using our service. We use all of
  the information we have to help us provide and support our communication services. We are able to deliver our
  services, personalize content, and make suggestions for you by using this information to understand how you use and
  interact with our services, and the people or things you’re connected to and interested in; both on and off our
  platform. We also use information to provide suggestions to you. For example, we are able to suggest like-minded
  professionals to converse, connect, and meet with. When we have location information, we use it to tailor our services
  for you and others. Like helping you to see other filtered profiles in your proximity range; as well as find other
  relevant social interactions happening around you. We will utilise learning algorithms, conduct surveys and research,
  test features in development, and analyze the information, evaluate and improve your overall experience on our
  platform. As well as develop new products or features, and conduct audits and troubleshooting activities.
</p>
