.mobile-nav-top {
  z-index: 1000;
  background: black;
  padding: 0.8em 0;

  li {
    text-align: center;
  }

  li + li {
    margin-left: 0px;
  }

  li a {
    text-align: center;
    color: #ecf0f1;
  }

  li.active a {
    color: #3498db;
  }

  .dropdown-menu {
    width: 100%;
    margin-top: 11px;

    a {
      color: black;
    }
  }
}