@import "layout_components/*";

body.front-app {
}

img {
  max-width: 100%;
}

.footer {

}

.no-padding {
  padding: 0;
}

.top-fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container-after-top-fixed {
  padding-top: 75px;
}
