.mobile-nav-top {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 0.8em 0;

  li {
    text-align: center;
  }

  li + li {
    margin-left: 0px;
  }

  li a {
    text-align: center;
    color: #ecf0f1;
  }

  li.active a {
    color: #3498db;
  }
}