// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image-holder {
  max-height: 25em;
  max-width: 25em;
}

#settings-page-wrapper {
  ul.setting-list {
    padding-left: 0;
    list-style-type: none;

    li {
      padding-bottom: 0.6em;
    }
  }
}
